<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="logDir" value="./logs/" />
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="bootstrap" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder> [%caller{1}]
            <pattern><![CDATA[%d{HH:mm:ss.SSS} [%thread] %-5level [${appName}] [%C:%L,%M\(\)] %msg%n]]></pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="app_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern><![CDATA[${logDir}/${appName}/%d{yyyy-MM-dd}/${appName}.%d{yyyy-MM-dd}_%i.log]]></fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>10MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} %line - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <append>true</append>
        <prudent>false</prudent>
    </appender>


    <root level="info">
        <appender-ref ref="app_info" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>